<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Shoe Stores</title>
    </head>
    <body>
        <h1>Shoe Store Database</h1>
        {% block content %}
            <h2><a href="/brands">Add or view shoe brands</a></h2>
            <h2><a href="/stores">Add or view shoe stores</a></h2>
        {% endblock %}
    </body>
</html>
