{% extends 'index.html.twig' %}

{% block content %}
    {% if stores is not empty %}
        <h2>List of stores:</h2>
        <ul>
            {% for store in stores %}
                <li><a href='/stores/{{ store.getId }}'>{{ store.getName }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action='/stores' method='post'>
        <label for='store_name'>Store name</label>
        <input type='text' name='store_name' id='store_name'>

        <button type=submit>Add shoe store</button>
    </form>
    <br>
    <form action='/delete_stores' method='post'>
        <button type='submit'>Clear</button>
    </form>
    <p><a href='/'>Home</a></p>
{% endblock %}
